@model Project_2022_CV.Models.MessageModel

@{
    ViewBag.Title = "Read Message";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="email-app mb-4">
        <nav>
            <a class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("WriteMessage", "Message") + "'");">New Message</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" onclick="@("window.location.href='" + @Url.Action("MessagesIndexPage", "Message") + "'");"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="@("window.location.href='" + @Url.Action("ReadMessages", "Message") + "'");"> <i class="fa fa-envelope-o"></i> Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="@("window.location.href='" + @Url.Action("UnreadMessages", "Message") + "'");"><i class="fa fa-envelope "></i>Unread</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="@("window.location.href='" + @Url.Action("SentMessages", "Message") + "'");"><i class="fa fa-send"></i> Sent</a>
                </li>

            </ul>
        </nav>
        <main class="message">

            <div class="details">
                <div class="title">@Model.Title.</div>
                <div class="header">
                    <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    <div class="from">
                        <span>@Model.Author</span>
                        @Model.AuthorEmail
                    </div>
                    <div class="date"> <b>@Model.WhenSent</b></div>
                </div>
                <div class="content">
                    <p>
                        @Model.Text
                    </p>

                </div>

                <div class="form-group" style="padding-top:100px">
                    <div class="col-md-10" style="padding-bottom:10px">
                        @Html.TextBoxFor(x => Model.AuthorEmail, new { id = "emailinfo", @class = "form-control", Styles = "disabled" })
                        @Html.ValidationMessageFor(model => model.AuthorEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <form method="post" action="">
                    <div class="form-group">
                        <textarea required class="form-control" id="textinfo" name="body" rows="12" placeholder="Click here to reply"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="btnAddMessage" tabindex="3" type="submit" class="btn btn-success">Send message</button>
                    </div>
                </form>



            </div>
        </main>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAddMessage").click(function () {
                var value = $('#textinfo').val();

                if (value.length < 10) {
                    alert("Text input can not be lower than 10!");
                    e.preventDefault();
                    return false;
                }

                console.log("hello world");


                var message = {};

                message.Title = "Response"
                message.Text = $('#textinfo').val();
                message.Email = $('#emailinfo').val();
                message.Author = "wtfman";
                message.AuthorEmail = "yooo";
                alert("Sucessfully sent message!");

                $.ajax({
                    url: "/api/messagemodels",
                    method: "post",
                    data: message
                })
                    .done(function () {
                        window.alert("You have succesfully sent the message.");

                    }).fail(function () {
                        window.alert("Failed to Add Message. Please try again!");
                    });

            });
        });
    </script>

}


<style>

    a {
        cursor: pointer;
    }

    #emailinfo {
        display: none;
        visibility: hidden;
    }

    button {
        margin-top: 10px;
    }

    .email-app {
        display: flex;
        flex-direction: row;
        background: #fff;
        border: 1px solid #e1e6ef;
    }

        .email-app nav {
            flex: 0 0 200px;
            padding: 1rem;
            border-right: 1px solid #e1e6ef;
        }

            .email-app nav .btn-block {
                margin-bottom: 15px;
            }

            .email-app nav .nav {
                flex-direction: column;
            }

                .email-app nav .nav .nav-item {
                    position: relative;
                }

                    .email-app nav .nav .nav-item .nav-link,
                    .email-app nav .nav .nav-item .navbar .dropdown-toggle,
                    .navbar .email-app nav .nav .nav-item .dropdown-toggle {
                        color: #151b1e;
                        border-bottom: 1px solid #e1e6ef;
                    }

                        .email-app nav .nav .nav-item .nav-link i,
                        .email-app nav .nav .nav-item .navbar .dropdown-toggle i,
                        .navbar .email-app nav .nav .nav-item .dropdown-toggle i {
                            width: 20px;
                            margin: 0 10px 0 0;
                            font-size: 14px;
                            text-align: center;
                        }

                        .email-app nav .nav .nav-item .nav-link .badge,
                        .email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
                        .navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
                            float: right;
                            margin-top: 4px;
                            margin-left: 10px;
                        }

        .email-app main {
            min-width: 0;
            flex: 1;
            padding: 1rem;
        }

        .email-app .inbox .toolbar {
            padding-bottom: 1rem;
            border-bottom: 1px solid #e1e6ef;
        }

        .email-app .inbox .messages {
            padding: 0;
            list-style: none;
        }

        .email-app .inbox .message {
            position: relative;
            padding: 1rem 1rem 1rem 2rem;
            cursor: pointer;
            border-bottom: 1px solid #e1e6ef;
        }

            .email-app .inbox .message:hover {
                background: #f9f9fa;
            }

            .email-app .inbox .message .actions {
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
            }

                .email-app .inbox .message .actions .action {
                    width: 2rem;
                    margin-bottom: 0.5rem;
                    color: #c0cadd;
                    text-align: center;
                }

            .email-app .inbox .message a {
                color: #000;
            }

                .email-app .inbox .message a:hover {
                    text-decoration: none;
                }

            .email-app .inbox .message.unread .header,
            .email-app .inbox .message.unread .title {
                font-weight: bold;
            }

            .email-app .inbox .message .header {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5rem;
            }

                .email-app .inbox .message .header .date {
                    margin-left: auto;
                }

            .email-app .inbox .message .title {
                margin-bottom: 0.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .email-app .inbox .message .description {
                font-size: 12px;
            }

        .email-app .message .toolbar {
            padding-bottom: 1rem;
            border-bottom: 1px solid #e1e6ef;
        }

        .email-app .message .details .title {
            padding: 1rem 0;
            font-weight: bold;
        }

        .email-app .message .details .header {
            display: flex;
            padding: 1rem 0;
            margin: 1rem 0;
            border-top: 1px solid #e1e6ef;
            border-bottom: 1px solid #e1e6ef;
        }

            .email-app .message .details .header .avatar {
                width: 40px;
                height: 40px;
                margin-right: 1rem;
            }

            .email-app .message .details .header .from {
                font-size: 12px;
                color: #9faecb;
                align-self: center;
            }

                .email-app .message .details .header .from span {
                    display: block;
                    font-weight: bold;
                }

            .email-app .message .details .header .date {
                margin-left: auto;
            }

        .email-app .message .details .attachments {
            padding: 1rem 0;
            margin-bottom: 1rem;
            border-top: 3px solid #f9f9fa;
            border-bottom: 3px solid #f9f9fa;
        }

            .email-app .message .details .attachments .attachment {
                display: flex;
                margin: 0.5rem 0;
                font-size: 12px;
                align-self: center;
            }

                .email-app .message .details .attachments .attachment .badge {
                    margin: 0 0.5rem;
                    line-height: inherit;
                }

                .email-app .message .details .attachments .attachment .menu {
                    margin-left: auto;
                }

                    .email-app .message .details .attachments .attachment .menu a {
                        padding: 0 0.5rem;
                        font-size: 14px;
                        color: #e1e6ef;
                    }
</style>
