
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ProfileSettings", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Login</button>
        <button type="button" class="btn btn-warning" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");">Sign-up </button>
    </div>
}
