<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="@*container body-content*@">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>


<!--
    knappen!!!!
    <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Login</button>
                <button type="button" class="btn btn-warning" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");">Sign-up </button>

                @*<a class="nav-link" asp-area="" asp-controller="User" asp-action="AddOrEdit"></a>*@


            </div>

    -->
