@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Project_2022_CV.ViewModel.ProjectViewModel

<div style=" display: flex; justify-content: center; margin: auto; width: 80%; flex-direction: column;">

    <h2>Ändra information om @Model.Project.Title projektet</h2>



    @Html.Partial("~/Views/Image/_ProjectAdd.cshtml")
    @using (Html.BeginForm("Save", "Project"))
    {
        <div class="form-group">
            @Html.LabelFor(p => p.Project.Title)
            @Html.TextBoxFor(p => p.Project.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Project.Description)
            @Html.TextAreaFor(p => p.Project.Description, new { @class = "form-control" })
        </div>



        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Save</button>
        @Html.HiddenFor(p => p.Project.Id)
    }

</div>